[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/2.1%20FinanceDataReader%EB%A5%BC%20%ED%86%B5%ED%95%9C%20%EC%83%81%EC%9E%A5%EC%A2%85%EB%AA%A9%20%EC%A0%84%EC%B2%B4%20%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0-input.ipynb)



## FinanceDataReader 란?

* 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

* [FinanceData/FinanceDataReader: Financial data reader](https://github.com/FinanceData/FinanceDataReader)
* [FinanceDataReader 사용자 안내서 | FinanceData](https://financedata.github.io/posts/finance-data-reader-users-guide.html)
* https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

## 라이브러리 불러오기

In [1]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [3]:
# FinanceDataReader 를 fdr 별칭으로 불러옵니다.
# 라이브러리의 version을 확인하고 싶을 때는 .__version__ 으로 확인합니다. 
import FinanceDataReader as fdr
fdr.__version__

'0.9.90'

## 한국거래소 상장종목 전체 가져오기

In [4]:
# KRX : KRX 종목 전체
# KOSPI : KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S&P500 종목

# fdr.StockListing??
df_krx = fdr.StockListing("KRX")

In [5]:
# 한국거래소 상장종목 전체 가져오기
df_krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,77600,2,-400,-0.51,79000,79000,77500,13151889,1028553770200,463255125880000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,173200,2,-400,-0.23,177000,177500,173200,2336256,408840628653,126090009618000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,391000,1,2000,0.51,391000,394000,387000,121565,47535663000,91494000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,771000,2,-4000,-0.52,779000,781000,771000,56064,43419273679,54875154000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,64600,2,-400,-0.62,65700,65700,64600,489281,31830684600,53158480820000,822886700,STK

In [6]:
# 행과 열의 크기 보기
df_krx.shape

(2805, 17)

In [7]:
# 요약정보 보기
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2805 entries, 0 to 2804
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         2805 non-null   object
 1   ISU_CD       2805 non-null   object
 2   Name         2805 non-null   object
 3   Market       2805 non-null   object
 4   Dept         2805 non-null   object
 5   Close        2805 non-null   object
 6   ChangeCode   2805 non-null   object
 7   Changes      2805 non-null   int64
 8   ChagesRatio  2805 non-null   float64
 9   Open         2805 non-null   int64
 10  High         2805 non-null   int64
 11  Low          2805 non-null   int64
 12  Volume       2805 non-null   int64
 13  Amount       2805 non-null   int64
 14  Marcap       2805 non-null   int64
 15  Stocks       2805 non-null   int64
 16  MarketId     2805 non-null   object
dtypes: float64(1), int64(8), object(8)
memory usage: 372.7+ KB

In [9]:
# 기술통계 값 요약
df_krx.describe()

,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks
count,2805.000000,2805.000000,2805.000000,2805.000000,2805.000000,2.805000e+03,2.805000e+03,2.805000e+03,2.805000e+03
mean,-3.596791,0.095184,19954.050980,20251.657041,19598.758645,4.214931e+05,5.890014e+09,9.273817e+11,4.206503e+07
std,1208.390318,2.788781,48865.656156,49375.142082,48066.553138,2.583392e+06,3.101459e+10,9.693939e+12,1.335070e+08
min,-18500.000000,-26.500000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,7.960000e+08,2.000000e+05
25%,-50.000000,-0.760000,2325.000000,2370.000000,2310.000000,1.354400e+04,6.556116e+07,5.371766e+10,1.035905e+07
50%,0.000000,0.000000,6000.000000,6100.000000,5900.000000,5.041500e+04,2.657207e+08,1.150425e+11,2.000000e+07
75%,35.000000,0.680000,15740.000000,16010.000000,15460.000000,1.757480e+05,1.696892e+09,2.857325e+11,4.177633e+07
max,33000.000000,30.000000,779000.000000,781000.000000,771000.000000,9.645564e+07,1.028554e+12,4.632551e+14,5.969783e+09

## 파일로 저장하고 불러오기
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [10]:
# head 로 미리보기
df_krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,77600,2,-400,-0.51,79000,79000,77500,13151889,1028553770200,463255125880000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,173200,2,-400,-0.23,177000,177500,173200,2336256,408840628653,126090009618000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,391000,1,2000,0.51,391000,394000,387000,121565,47535663000,91494000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,771000,2,-4000,-0.52,779000,781000,771000,56064,43419273679,54875154000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,64600,2,-400,-0.62,65700,65700,64600,489281,31830684600,53158480820000,822886700,STK

In [11]:
# to_csv로 Dataframe을 데이터 저장용 파일인 CSV 파일로 바꿀 수 있습니다.
df_krx.to_csv("krx.csv", encoding = 'euckr')

In [13]:
# CSV로 저장된 파일을 다시 DataFrame으로 읽어서 확인해 봅니다.
pd.read_csv("krx.csv", encoding = 'euckr')

,Unnamed: 0,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,0,005930,KR7005930003,삼성전자,KOSPI,NaN,77600,2,-400,-0.51,79000,79000,77500,13151889,1028553770200,463255125880000,5969782550,STK
1,1,000660,KR7000660001,SK하이닉스,KOSPI,NaN,173200,2,-400,-0.23,177000,177500,173200,2336256,408840628653,126090009618000,728002365,STK
2,2,373220,KR7373220003,LG에너지솔루션,KOSPI,NaN,391000,1,2000,0.51,391000,394000,387000,121565,47535663000,91494000000000,234000000,STK
3,3,207940,KR7207940008,삼성바이오로직스,KOSPI,NaN,771000,2,-4000,-0.52,779000,781000,771000,56064,43419273679,54875154000000,71174000,STK
4,4,005935,KR7005931001,삼성전자우,KOSPI,NaN,64600,2,-400,-0.62,65700,65700,64600,489281,31830684600,53158480820000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,2800,413300,KR7413300005,티엘엔지니어링,KONEX,일반기업부,2265,1,285,14.39,2265,2265,2265,1,2265,2956991475,1305515,KNX
2801,2801,217320,KR7217320001,썬테크,KONEX,일반기업부,2400,0,0,0.00,0,0,0,0,0,2520000000,1050000,KNX
2802,2802,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1400,2,-99,-6.60,1498,1498,1280,350,457145,2211944000,1579960,KNX
2803,2803,030790,KR7030790000,비케이탑스,KOSPI,NaN,53,2,-7,-11.67,61,61,48,10966230,555474816,1126151685,21248145,STK
2804,2804,308700,KR7308700004,테크엔,KONEX,일반기업부,199,0,0,0.00,0,0,0,0,0,796000000,4000000,KNX